<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">A Necessary Loot System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Raid Administration</a>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adminstration <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Administrate Players</a>
                        </li>
                        <li><a href="#">Administrate Items</a>
                        </li>
                        <li><a href="#">Administrate Instances</a>
                        </li>
                        <li><a href="#/raidManagement">Administrate Raids</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Change Settings</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Statistics</a>
                        </li>
                        <li><a href="#">View Items</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Raid Administration</h1>
        <p>Add, remove and update ongoing raids.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>Add Raid <small>Create a new raid</small></h2>

            <form class="form-inline" ng-submit="vm.addRaid()">
                <div class="form-group">
                    <label for="instancename">Instance</label>
                    <select class="form-control" id="instancename" ng-model="vm.selectedInstance" ng-options="instance.name for instance in vm.instances"></select>
                </div>
                <div class="form-group">
                    <label for="starttime">Start</label>

                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup='dd-MMMM-yyyy' ng-model="vm.addRaidStartDate" is-open="vm.datePickerOpened" ng-required="true" starting-day="1" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>

                        <select class="form-control" ng-model="vm.startHour" ng-options="hour for hour in vm.hours"></select>
                        <span class="input-group-addon">:</span>
                        <select class="form-control" ng-model="vm.startMinute" ng-options="minute for minute in vm.minutes"></select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            <alert ng-show="vm.addRaidErrorOccured" type="danger" close="vm.addRaidErrorOccured = false"><strong>Error!</strong> A problem has occurred trying to add raid.</alert>
            <alert ng-show="vm.addRaidSuccess" type="success" close="vm.addRaidSuccess = false"><strong>Success!</strong> Raid added.</alert>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Raids <small>Overview of existing raids</small></h2>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Active</h3>
                </div>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Instance</th>
                        <th>Date and time</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="raid in vm.activeRaids | orderBy:'start'">
                        <td><a ng-href="#/raidManagement/{{raid.id}}">{{raid.instance}}</a>
                        </td>
                        <td>{{raid.start}}</td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Planned</h3>
                </div>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Instance</th>
                        <th>Date and time</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="raid in vm.plannedRaids | orderBy:'start'">
                        <td><a ng-href="#/raidManagement/{{raid.id}}">{{raid.instance}}</a>
                        </td>
                        <td>{{raid.start}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="vm.deleteRaid(raid)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <alert ng-show="vm.deleteRaidErrorOccured" type="danger" close="vm.deleteRaidErrorOccured = false"><strong>Error!</strong> A problem has occurred trying to delete raid.</alert>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Finished</h3>
                </div>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Instance</th>
                        <th>Date and time</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="raid in vm.finishedRaids | orderBy:'start'">
                        <td><a ng-href="#/raidManagement/{{raid.id}}">{{raid.instance}}</a>
                        </td>
                        <td>{{raid.start}}</td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; A Necessary Evil 2015</p>
    </footer>
</div>
<!-- /container -->