<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">A Necessary Loot System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Raid Administration</a>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adminstration <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Administrate Players</a>
                        </li>
                        <li><a href="#">Administrate Items</a>
                        </li>
                        <li><a href="#">Administrate Instances</a>
                        </li>
                        <li><a href="#/raidManagement">Administrate Raids</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Change Settings</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Statistics</a>
                        </li>
                        <li><a href="#">View Items</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Raid Detail <small>{{vm.raidId}}</small></h1>
        <p>Details for raid on {{vm.instance}}, {{vm.start}}</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Raids <small>Overview of existing raids</small></h2>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Events</h3>
                </div>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Date</th>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Players</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="event in vm.events | orderBy: 'date'">
                        <td>{{event.date}}</td>
                        <td>{{event.id}}</td>
                        <td>{{event.type}}</td>
                        <td>{{event.players}}</td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; A Necessary Evil 2015</p>
    </footer>
</div>
<!-- /container -->