<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="overview">A Necessary Loot System - Administration</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="raidManagement">Raid</a>
                </li>
                <li><a ui-sref="playerManagement">Players</a>
                </li>
                <li class="active"><a ui-sref="itemManagement">Items</a>
                </li>
                <li><a ui-sref="instanceManagement">Instances</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-primary navbar-btn" ng-click="vm.refresh()"><span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Item Administration</h1>
        <p>Add, remove and update items that can be assigned to players as loot.</p>
    </div>
</div>

<div class="container">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-12">
            <alert ng-show="vm.errorMsg.length > 0" type="danger" close="vm.errorMsg = ''"><strong>Error!</strong> {{vm.errorMsg}}</alert>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2>Add Item <small>Create a new item</small></h2>

            <form name="addItemForm" class="form-horizontal" ng-submit="vm.addItem(addItemForm)">

                <div class="form-group">
                    <div class="col-sm-1">
                        <label for="instancename">Instance</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="instancename" ng-model="vm.addItem_instance" ng-options="instance.name for instance in vm.instances" ng-required="true"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-1">
                        <label for="itemId">Item Id</label>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" id="itemId" class="form-control" ng-model="vm.addItem_id" ng-required="true" ng-change="vm.onItemIdOrNameChanged()" />
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="vm.fetchItemData()" ng-disabled="vm.addItem_id == null || vm.addItem_id == '' || vm.working">
                                <img src="assets/img/battlenet-logo.png" style="width:17px;height:17px;" /><span> Get</span>
                            </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-hide="vm.addItem_wowHeadLink == null || vm.addItem_wowHeadLink == ''">
                        <div class="form-control-static"><a href="{{vm.addItem_wowHeadLink}}" class="epic">{{vm.addItem_wowHeadLinkName}}</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1">
                        <label for="itemname">Item Name</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" id="itemname" class="form-control" ng-model="vm.addItem_name" ng-required="true" ng-change="vm.onItemIdOrNameChanged()" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-1">
                        <label for="slot">Slot</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="slot" ng-model="vm.addItem_slot" ng-options="slot for slot in vm.slots" ng-required="true"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-4">
                        <button type="submit" class="btn btn-success" ng-disabled="vm.working">Add</button>
                        <button type="button" class="btn btn-default" ng-disabled="vm.working" ng-click="vm.clearAddItem(addItemForm)">Clear</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <h2>Items <small>Overview of existing items</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">

                <div class="form-group">
                    <label class="control-label" for="instancenameFilter">Filter by instance</label>
                    <select class="form-control" style="color: #000" id="instancenameFilter" ng-model="vm.instance_filter" ng-options="instance.name for instance in vm.instances">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="itemnameFilter">Filter by name</label>
                    <input type="text" class="form-control" id="itemnameFilter" ng-model="vm.itemname_filter" />
                </div>
            </form>
        </div>
    </div>
    <p />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Items</h3>
                </div>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Instance</th>
                        <th>Slot</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in vm.items | filter: {name: vm.itemname_filter, instance: vm.instance_filter.name} | orderBy:'itemname'">
                        <td><a class="epic" href="{{item.wowHeadLink}}">{{item.name}}</a> (
                            <a class="epic" href="{{item.wowHeadLinkHeroic}}">Heroic</a> / <a class="epic" href="{{item.wowHeadLinkMythic}}">Mythic</a>)
                        </td>
                        <td>{{item.id}}</td>
                        <td>{{item.instance}}</td>
                        <td>{{item.slot}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="vm.deleteItem(item)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; A Necessary Evil 2015</p>
    </footer>
</div>
<!-- /container -->